<div class="panel panel-default" style="background-color:rgb(38,97,156);">
<div class="panel-body" >
<div class="form-group col-sm-6 col-xs-12">
  <label for="sel1">Vindsbjälklag:</label>
  <select class="form-control" id="sel1" ng-model="refurbishment.roofceilingjoist" ng-init="refurbishment.roofceilingjoist='0'">
    <option value="0">Välj åtgärd</option>
    <option ng-repeat="tier in datar.tieroflogs">{{ tier }}</option>
  </select>
</div>

<div class="form-group col-sm-6 col-xs-12">
<label for="sel2">Ytterväggar:</label>
<select class="form-control" id="sel2" ng-model="refurbishment.outerwalls" ng-init="refurbishment.outerwalls ='0'">
    <option value="0">Välj åtgärd</option>
    <option ng-repeat="wall in datar.outerwalls">{{ wall }}</option>
  </select>
</div>